/* Importando fonte */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
} 
 
body {
    /* Definindo imagem de fundo para tela de login */
  background-image: url(../img/fundo.jpg);
    font-family: 'Inter', sans-serif;
}

 .container-calculadora {
    /* Definindo as dimensões do container como 100% da largura (width) e altura (height) da página. Largura (vw) e a altura (vh) da viewport */  
    width: 100vw;
    height: 100vh;
    /* Definindo o display do container como flex para utilizar o layout flexível */
    display: flex;
    /* Deixando os itens internos sejam dispostos horizontalmente, em forma de linha (row) */ 
    flex-direction: row;
    /* Definindo a disposição do elementos internos no centro da linha */
    justify-content: center;
    /* Deixando os elementos internos alinhados na vertical */  
    align-items: center;
 }

 .calc {
  /* Definindo cor de fundo para div */  
  background: rgba(0, 0, 0, 0.5);
  /* Aplicando filtro de transparencia na div */  
  backdrop-filter: blur(12.0px);
  /* Criando sombra para div */  
   box-shadow: 12px 12px 12px 12px rgba(20, 20, 20, 0.5);
  /* Arredondando os cantos da div */  
  border-radius: 30px;
  /* Alinhando toda tag de texto dentro da div login no Centro */ 
  text-align: center;
  /* Definindo as dimensões da div login: Largura (width) e altura (height) da página. Largura (px) e a altura (px) da calculadora */ 
  width: 300px;
  height: 450px;
 }

.display {
    width: 100%;
    height: 7rem;
    /* Definindo cor de fundo do input*/
    background: rgba(80, 80, 80, 0.2);
    /* Tirando a borda do input */
    border: none;
    border-radius: 30px;
    outline: none;
    /* Definindo cursor do input */
    cursor: default;
    /* Definindo tamanho da font do input */
    font-size: 20px;
    /* Definindo cor da fonte */
    color:white;
 }

 #resultado {
    font-size: 30px;
    /* Definindo cor da fonte */
    color:white;
    text-align: right;
    padding: 3rem 2rem 0 0;
 }

 button  {
    margin: 1rem 0 0 0;
    /* Definindo as dimensões do botão: Largura (width) e altura (height). Largura (rem) e a altura (rem) do botão */ 
    width: 4rem;
    height: 4rem;
    /* Definindo cor de fundo para div */  
    background: rgba(0, 0, 0, 0.1);
    /* Aplicando filtro de transparencia na div */  
    backdrop-filter: blur(5.0px);
    /* Arrendondando os botões */
    border-radius: 20px;
    /* Tirando a borda */
    border: none;
    /* Tamanho da fonte */
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
 }

 button:hover{
    transform: scale(1.1);
    /* Definindo cor de fundo para div */  
    background: rgba(150, 150, 150, 0.1); 
 }